$white: #fff;
$blue: #228be6; //blue-6
$gray-100: #f8fafb; //gray-0
$gray-500: #b1b6b9; //gray-5
$gray-700: #50514f; //gray-9

// Local docs variables

$ad-brown: #4e2b15; //brown-11
$ad-brown-bright: lighten(saturate($ad-brown, 5%), 15%);
$ad-dark: #422412; //brown-12
$ad-download: #c0eb75; //lime-3
